img {
  width: 200%;
}

html,
body,
#frame,
#page-null,
#page-one,
#page-two,
#page-three {
  width: 100%;
  height: 100%;
}

#frame {
  height: 90%;
}

#page-null,
#page-one,
#page-two,
#page-three {
  padding-top: 2em;
  background-color: #fff;
}

#mainNav {
  background-color: #668ae4;
  color: #ddd;
  line-height: 4em;
  padding: 0 1em;
  position: fixed;
  top: 0em;
  width: 100%;
}

#mainNav a,
#mainNav a:link,
#mainNav a:visited,
#mainNav a:hover,
#mainNav a:active {
  color: #eee;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
}

#mainNav a:hover {
  color: #4861a2;
}

h2 {
  font-size: 3em;
  padding-top: 1em;
  text-align: center;
}

@page {
  margin: 2cm
}

p {
  margin-bottom: 0.25cm;
  line-height: 120%
}